// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Create a local file (Local.xcconfig) in the repo root,
// like the following:
//
// // Enter your 2GIS API keys below (without quotes).
// DGIS_MAP_API_KEY = xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
// DGIS_DIRECTORY_API_KEY = xxxxxxxxxx
//

#include? "../Local.xcconfig"
